/* You can add global styles to this file, and also import other style files */

p{
  background: peachpuff;
}


.orange{
  background: orange;
}

/* selector combinatoire*/
p.orange {
  background: skyblue;
}

/*selecteur d'attribut*/
[class="orange"] {
  background: teal;
}

/* pseudo selecteur */
/* cibler le p premier enfant d'un div*/
div p:first-child {
  background: yellowgreen;
}

/* pseudo selecteur */
/* cibler le p troisieme enfant d'un div*/
div p:nth-child(3) {
  background: rebeccapurple;
}


#pink {
  background: pink;
}

/* ordre des selecteur 'selecteur | !important | style | id | pseudo,class,attr | simple" */
/* p{}                       0           0         0      0          0              1     */
/* .orange{}                 0           0         0      0          1              0     */
/* a:hover{}                 0           0         0      0          1              1     */
/* #green{}                  0           0         0      1          0              0     */
/* style=                    0           0         1      0          0              0     */
/* !important                0           1         0      0          0              0     */
/* div p #green              0           0         0      1          0              2     */
/* bonne pratique css pour les sections html

body>header h1 {}
body>header h2 {}
body>header a {}

main h1 {}
main h2 {}
main a {}

body>footer h1 {}
body>footer h2 {}
body>footer a {}

Avec une class css .bandeau h1 {}
*/
