<app-template-b [title]="title" [subtitle]="subtitle">
  <app-tableau-light [headers]="headers">
        <!-- tapper a ouvre une fenetre puis mettre ng pour trouver les directive-->
        <!-- using async-->
        <tr (click)="edit(item)" *ngFor="let item of collection$ | async as collection">
          <!-- <td scope="row">{{collection | json}}</td> as json -->
          <td scope="row">{{item.typePresta}}</td>
          <td scope="row">{{item.client}}</td>
          <td scope="row">{{item.nbJours}}</td>
          <td scope="row">{{item.tjmHt | currency:'EUR'}}</td>
          <td scope="row">{{item | total:'HT' | currency:'EUR'}}</td>
          <td scope="row">{{item | total |currency:'EUR'}}</td>
          <!-- if we didn't use '[]' the value will be interpreted as string-->
          <td [appState]="item.state">
            <!-- crocher '[value]' pour binding avec value with pipe-->
            <!-- <select *ngFor="let state of states | keyvalue" [value]="state.key">{{state.value}}"</select> -->
            <!-- event to pass $event-->
            <select (click)="$event.stopPropagation()" (change)="changeState(item,$event)">
              <option *ngFor="let state of states" [value]="state" [selected]="state==item.state">{{ state }}</option>
            </select>
          </td>
          <td><fa-icon [icon]="faTrashAlt" (click)="delete(item)"></fa-icon></td>
        </tr>
      </app-tableau-light>
      <app-button [label]="label" [route]="route"></app-button>
      <app-button [label]="googlelink" [externallink]="externallink"></app-button>
      <app-nav-horizontal [list]="listLinks" ></app-nav-horizontal>
</app-template-b>
