@import 'theme';
@import 'fonts';

a {
  margin-left: 10px;
  display: inline-block;
  padding: 1em;
  font-size: $regular-fz;
  background: $color3;
  transition: all .5s;
  //when hovering over the button
  &:hover {
    text-decoration: none;
    background: $color3;
  }
}
//Selecteur Css angular :host when shadow dom is enabled
:host-context(app-template-a) a {
  background: lighten($color2, 10);
  transition: all .5s;
  //when hovering over the button
  &:hover {
    background: $color2;
  }
}

:host-context(app-template-b) a {
  background: lighten($color1, 10);
  transition: all .5s;
  //when hovering over the button
  &:hover {
    background: $color1;
  }
}
