@import 'theme';

.table-light.state-option {
 background  : $color2;
}
.table-light.state-annule {
  background  : $color-error;
 }

 .table-light.state-confirme {
  background  : $color-success;
 }
