<header class="fixed-top">
  <!-- <fa-icon [icon]="faBars" (click)="toggle()"></fa-icon> -->
  <!-- directive ng content pour positioner :
    ajouter attribut select et le binder avec un selecteur css.
  attribut avec la class css exemple select="<baliseHtml>.<classCss>
    ou avec id select="#<idComposant>"
    ou {pour tout les elements avec la meme class CSS [class="<ClassCss>"]} angular 8"-->
  <ng-content select=".header"></ng-content>
</header>
<main>
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <ng-content select=".content"></ng-content>
    </div>
    <footer>
      <ng-content select=".footer"></ng-content>
    </footer>
  </div>
</main>
